<section class="about">
    <div class="row">
        <div class="about-photo col-sm-2">
        	<img src="https://avatars0.githubusercontent.com/u/808759?" class="img-responsive img-thumbnail" alt="Diogo Moreira" />
        </div>
        <div class="about-text col-sm-10">
        	<h4>Diogo Moreira</h4>
        	<p>Full-stack web developer, apaixonado pela arte da programação e por ensinar. Tem experiência profissional no desenvolvimento de aplicações Java utilizando Spring Framework, JPA, JSF e Adobe Flex. Direciona boa parte do seu tempo para programar alguns projetos pessoais, desenhar, ensinar, e em escrever os artigos aqui publicados. Além disso, um jogador de Dota 2 em treinamento.</p>
        </div>
    </div>
</section>
