<section class="sections">
	<div class="container">
		<div class="row">
			<div id="projects" class="section">
				<div id="projects" class="section-image"></div>
				<a href="/projects/">
				<h3>Projetos</h3>
				</a>
				<p>Alguns projetos que estou desenvolvendo no momento ou projetos já concluídos. Um pouco das minhas habilidades como desenvolvedor de software.</p>
			</div>

			<div id="subjects" class="section">
				<div id="subjects" class="section-image"></div>
				<a href="/ensino/">
				<h3>Disciplinas</h3>
				</a>
				<p>Espaço para materiais de aula e planejamento das minhas disciplinas. Além disso, alguns links interessantes relacionados as aulas</p>
			</div>

			<div id="subjects" class="section">
				<div id="blog" class="section-image"></div>
				<a href="/blog/">
				<h3>Blog</h3>
				</a>
				<p>Alguns pensamentos e opiniões sobre a vida, assuntos de meu interesse e, principalmente, desenvolvimento de software.</p>
			</div>			
		</div>
	</div>            
</section>