// Main page

.front-wrapper {

	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;

	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);

	.front-wrapper-inner {
		padding: 20px 15px 20px 15px;
		background-color: rgba(0, 0, 0, 0.8);
		background: rgba(0, 0, 0, 0.8);
		color: rgba(0, 0, 0, 0.8);
	}
}

.presentation {
	padding: 10px;

	p {
		line-height: 1.5;
		margin-bottom: 30px;
	}

}

.main-page-article {

	text-align: justify;

	p {

		.interest {
			@extend .label;
			@extend .label-primary;
			font-weight: normal;
		}
	}
}

.image-landing {
	width: 200px;
	height: 200px;
	border: 3px #FFF solid;
	-webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.9);
	box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.9);
	margin-bottom: 25px;
}
