@charset "utf-8";

// $font-size-base: 16px !default;
$grid-gutter-width: 20px;
$container-large-desktop: (960px + $grid-gutter-width) !default;

@import "./components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./components/fontawesome/scss/font-awesome";

@import "header";
@import "navigation";
@import "article";
@import "footer";
@import "posts";
@import "sections";

// Personal css
@import "landing_page";


// General
html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #fbfbf9;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	padding-top: 50px;
	margin-bottom: 155px;
}
