.post-list {

	.post {
		margin-bottom: 5px;
	}

	p {
		// font-family: "PT Sans","Helvetica Neue",Arial,sans-serif;
		font-size: $font-size-base;
	}

	h1, h2, h3, h4, h5, h6 {
		// font-family: "PT Sans","Helvetica Neue",Arial,sans-serif;
		font-size: $font-size-large;
		font-weight: lighter;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.year, .month {
		color: $gray-light;
		text-transform: uppercase;
	}

	.post-meta-title {

		article {
			font-size: $font-size-small;
		}

		.post-title {
			font-weight: 600;
		}
	}

	.post-meta-thumb {
		.post-thumb {
			width: 100%;
			height: 100px;
			border: 1px solid $gray-lighter;
			background-size:cover;
			background-position:center;
		}

		.post-thumb-default {
			@extend .post-thumb;
			background-image: url("../images/posts/default-post.jpg");
		}
	}

	footer {
		font-size: 80%;
		color: $gray-light;
		.tag {
			text-decoration: underline;
		}
	}
}

.post-header {
	.post-metadata {
		color: #FFF;

		.label-primary {
			background-color: #393939;
		}
	}
}

.about {
	border-top: 1px solid $gray-lighter;
	padding-top: 2%;
	padding-bottom: 2%;

	.about-text {
		text-align: justify;
		font-size: $font-size-base;
	}

}
